<h1>以下の内容で、送信する。</h1>

<p>あなたは次の内容を投稿しようとしています:</p>
<p><%= @post.content %></p>

<%= form_with model: @post, local: true do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "投稿" %>
<% end %>

<%= form_with url: new_post_path, method: :get, local: true do %>
  <%= hidden_field_tag :content, @post.content %>
  <%= submit_tag "戻る" %>
<% end %>