<h1>つぶやきを変更できるよ</h1>

<%= form_with model: @post do |form| %>
<div>
<%= form.label :content, '投稿内容', class: 'top-label' %>
<%= form.text_area :content, rows: 5, cols: 50, class: "fixed-size" %>
</div>

<div class="submit-button">
  <%= form.submit '編集完了'%>
</div>
<% end %>

<%= link_to '戻る', posts_path %>