<h1>つぶやきを変更できるよ</h1>

<%= form_with model: @post do |form| %>
<div>
<%= form.label :content %>
<%= form.text_area :content %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>

<%= link_to '戻る', posts_path %>